.image-container {
  .image-preview {
    height: 100%;
    max-height: 70dvh;
    object-fit: contain;
    width: 100%;

    /* Media Queries */

    @media (max-width: 767.98px) {
      object-fit: cover;
    }
  }
}

ion-fab-button {
  --background: var(--main-color);
  --background-activated: #ab58f4;
  --background-hover: #d9b6fc;
}
