.grid-container {
  column-count: 7;
  column-gap: 10px;

  img {
    display: block;
    max-width: 100%;
  }

  figure {
    break-inside: avoid;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    margin: 0 0 10px 0;

    img {
      border-radius: 12px;
      grid-column: 1;
      grid-row: 1 / -1;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

/* Media Queries */

$galleryBreakpoints: (
  1399.98px: 6,
  1199.98px: 5,
  991.98px: 4,
  767.98px: 3,
  575.98px: 2,
);

@each $breakpoint, $columns in $galleryBreakpoints {
  @media (max-width: #{$breakpoint}) {
    .grid-container {
      column-count: #{$columns};
    }
  }
}
