<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title> {{ "search.title" | translate }} </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <ion-searchbar
        placeholder="{{ 'search.search_placeholder' | translate }}"
        inputmode="search"
        mode="ios"
        formControlName="search"
      >
      </ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="featuredCollection && !isSearching">
    <ion-text>
      <h4 class="search_label">{{ "search.popular_search" | translate }}</h4>
    </ion-text>
    <app-featured-collection
      [featuredCollections]="featuredCollection.collections"
      (cardSelected)="onSelectCard($event)"
    />
  </ng-container>

  <app-gallery-view [photos]="photoList" />

  <ion-infinite-scroll
    #infiniteScroll
    (ionInfinite)="onGalleryInfinite($event)"
  >
    <div class="infinite-scroll-content">
      <ng-container *ngIf="isLoading">
        <app-clock-loading />
      </ng-container>
    </div>
  </ion-infinite-scroll>
</ion-content>
