<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="trending">
      <ion-icon aria-hidden="true" name="flame-outline"></ion-icon>
      <ion-label> {{ "trending.title" | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label> {{ "search.title" | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label> {{ "settings.title" | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
